body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 60px;
}
.orange-color{
    color: orange;
}
.frist-section{
    display: flex;
    padding-bottom: 50px;
}
.frist-part{
    width: 50%;
    margin: 5%;
    font-size: 20px;
    color: rgb(70, 70, 70);
}

a{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    padding: 20px 40px;
    border-radius: 100px;  
}
.secend-section{
    display: flex;
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: rgb(70, 70, 70);
}
.secend-part{
    width: 50%;
    margin: 5%;
    font-size: 20px;
    
    
}
.secend-part img{
    width: 60%;
    margin: 65px 120px;
}
#my-recipies{
    color: rgb(70, 70, 70);
    text-align: center;
}
#my-recipies p{
    margin-left: 400px;
    margin-right: 400px;
    font-size: 20px;
}